.Apps {
  text-align: center;
  border: 1px solid black;
  font-size: 18px;

}
.Apps_text{
  text-align: center;
  font-size: 30px;
}
.input_css{
  margin-bottom: 10px;
  height: 30px;
  width: 25%;
}
.button_alignments{
  margin-left: 16% !important;
  margin-top: 3% !important;
}
.input_width{
  height: 30% !important;
  width: 50% !important;
}
.font_colourrr{
color: blue;
}

