.Apps {
  text-align: center;
  border: 1px solid black;
  font-size: 18px;

}
.Apps_text{
  text-align: center;
  font-size: 30px;
}
.input_css{
  margin-bottom: 10px;
  height: 30px;
  width: 25%;
}



